h1 {
	text-align: center;
	font-family: 'Acme', sans-serif;
}
.left {
	text-align: left;
}
h3 {
	background-color: #b0e4f5;
	font-family: 'Rancho', cursive;
}
h2, p {
	font-family: 'Acme', sans-serif;
}