h1 {
	text-align: right;
	font-family: 'Rancho', cursive;
}
.right{
	text-align: right;
}
p {
	font-family: 'Acme', sans-serif;
	font-size: 20px;
}
h2 {
	background-color: #c8faf5;
	font-family: 'Rancho', cursive;
}
li {
	font-family: 'Bebas Neue', cursive;
}
body {
	background-color: #e0ddd5;
}