table, tr, td {
	border-collapse:collapse;
	border:solid 1px #000000;
	margin: 0 auto 0;
}
td {
	font-family: 'Just Another Hand', cursive;
	width:200px;
	height:150px;	
}
table {
	margin: auto;
	table-layout: fixed;
	border : 1px solid black;
	margin-bottom: 1em;
	vertical-align: middle;
	text-align: center;
	background-color: #cafaf8;
	font-family: 'Just Another Hand', cursive;
}
body {
	background-color: #e0ddd5;
}
h2 {
	text-align: center;
	font-family: 'Acme', cursive;
}
h3 {
	text-align: center;
	font-family: 'Rancho', cursive;
	font-size: 25px;
}
p {
	text-align: center;
	font-family: 'Acme', cursive;
	font-size: 18px;
}	
li {
	font-family: 'Bebas Neue', cursive;
}
